numpy
scikit-tda
cechmate
cmake
#dionysus
persim
Cython
#Ripser
torch==1.6.0
torchvision
pre-commit
seaborn
sacred
requests
gputil
multicoretsne
tqdm

dataclasses
dataclassy
tadasets
python-mnist
dill